<template>
  <div id="app">
    <!-- <img src="./assets/img/logo.png"> -->
    <el-container>
      <el-header>Header</el-header>
      <el-main>
        <el-form v-model="form">
          <el-row>
            <el-col :span="8" :offset="8">
              <el-input placeholder="Your email" type="email" v-model="form.email"></el-input>
              <p>{{form.email}}</p>
            </el-col>
          </el-row>
          <el-row>
            <el-col :span="8" :offset="8">
              <el-input placeholder="Your password" type="password" v-model="form.pass"></el-input>
                <p>{{form.pass}}</p>
            </el-col>
          </el-row>
          <el-row>
            <el-col :span="8" :offset="8">
              <el-button type="primary" v-on:click="login()">login</el-button>
            </el-col>
          </el-row> 
        </el-form>       
      </el-main>
      <el-footer>Footer</el-footer>
    </el-container>
  </div>
</template>

<script>
import store from './store'
export default {
  name: 'app',
  data () {
    return {
      form: {
        email: '',
        pass: ''
      }
    }
  },
  methods: {
    login() {
      console.log(`email - ${this.form.email}`);
      console.log(`pass - ${this.form.pass}`);
    }, 
  }  
}
</script>

<style lang="scss">
  .el-input {
    // margin-bottom: 20px;
  }
</style>
